In [1]:
2+2

4


# heading one
## heading two

* my name is Vivian

This is an emptycell. markdown is used to indicate a comment cell.

In [2]:
5+3

8

In [3]:
5+10

15

In [ ]:
My name is angelical

In [4]:
5%2

1

In [12]:
var1=14

In [13]:
var1

14

In [8]:
3<=2

False

In [1]:
"ST python tutorial"

'ST python tutorial'

In [2]:
str1= "st python tutorial"

In [3]:
str1

'st python tutorial'

In [7]:
x="R"

In [15]:
print("st {} tutorial {}".format(x,var1))

st R tutorial 14

In [10]:
x

'R'

In [14]:
var1

14

In [17]:
len(str1)

18

In [18]:
str1.replace("python", "sql")

'st sql tutorial'

In [19]:
x= str1.replace("python", "sql")

In [20]:
x

'st sql tutorial'

In [22]:
x[0],x[1]

('s', 't')

In [23]:
x[2:5]

' sq'

In [24]:
x[-1]

'l'

In [25]:
x[:5]

'st sq'

In [26]:
x[5:]

'l tutorial'

In [27]:
x[2:10:2]

' q u'

In [28]:
x[2:10:3]

' lu'

In [29]:
type(x)

str

# lists

In [30]:
L1 = [1,2,3,4,5]

In [31]:
type(L1)

list

In [32]:
L1[0:3]

[1, 2, 3]

In [33]:
L1[::2]

[1, 3, 5]

In [34]:
L2=[1, "A", 0.1]

In [35]:
type(L2[2])

float

In [37]:
type(L2[0:1])

list

In [38]:
L3=[L2, 1, 2.0]

In [39]:
print(L3)

[[1, 'A', 0.1], 1, 2.0]

In [40]:
L3[0][1]

'A'

In [41]:
L3[::2]

[[1, 'A', 0.1], 2.0]

In [44]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [45]:
l4= list(range(0,10,2))

In [46]:
l4

[0, 2, 4, 6, 8]

In [48]:
l4.sort(reverse=True)

In [49]:
l4

[8, 6, 4, 2, 0]

In [50]:
l4.append(10)

In [51]:
l4[0]=3

In [52]:
l4

[3, 6, 4, 2, 0, 10]

In [53]:
l4[1:3]=[4,7]

In [54]:
l4

[3, 4, 7, 2, 0, 10]

In [55]:
l4.sort

In [56]:
l4

[3, 4, 7, 2, 0, 10]

In [57]:
l4.sort(reverse = True)

In [58]:
l4

[10, 7, 4, 3, 2, 0]

In [59]:
l4.sort(reverse= False)

In [60]:
l4

[0, 2, 3, 4, 7, 10]

In [61]:
l4.insert(5,15)

In [62]:
l4

[0, 2, 3, 4, 7, 15, 10]

In [63]:
l4[5]=10

In [64]:
l4

[0, 2, 3, 4, 7, 10, 10]

In [65]:
l4[6]= 15

In [66]:
l4

[0, 2, 3, 4, 7, 10, 15]

In [67]:
l4.insert(7,20)

In [68]:
l4

[0, 2, 3, 4, 7, 10, 15, 20]

In [69]:
l4.remove(20)

In [70]:
l4

[0, 2, 3, 4, 7, 10, 15]

In [72]:
del l4[6]

In [73]:
l4

[0, 2, 3, 4, 7, 10]

# Tuples

In [74]:
t1=(1,3)

In [75]:
t1

(1, 3)

# Dictionary

In [77]:
d1= {"key1": 1,
    "key2" : 2,
     "key3" : 3}

In [78]:
d1

{'key1': 1, 'key2': 2, 'key3': 3}

In [79]:
d1["key1"]

1

In [80]:
type(d1)

dict

In [83]:
d1["key3"]

3